.diary-editor {
}

section {
  margin-bottom: 40px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

.input-date,
input[type="file"]::file-selector-button,
.genre-edit-div input,
.genre-wrapper select,
.title-wrapper input,
.text-wrapper textarea {
  border: none;
  border-radius: 20px;
  background-color: #e7e1d8;

  padding: 10px 20px;

  cursor: pointer;
  font-family: "Gothic A1", sans-serif;
  font-size: 16px;
}

.img-preview {
  margin-top: 10px;
}

.img-preview img {
  height: 120px;
  border-radius: 20px;
}

.h4-genre-wrapper {
  display: flex;
  position: relative;
}

.h4-genre-wrapper button {
  position: absolute;
  margin-left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.genre-edit-div {
  margin-bottom: 20px;
}

.genre-edit-div input {
  margin-bottom: 10px;
}

.genre-edit-div li {
  list-style: none;
  margin-left: 15px;
}

.genre-edit-div li::before {
  content: "#  ";
  font-weight: bold;
  color: gray;
}

.genre-edit-div li button {
  margin-left: 20px;
}

.genre-title-wrapper {
  display: flex;
}

.genre-wrapper select {
  border-radius: 20px 0 0 20px;
  height: 40px;
}

.title-wrapper input {
  border-radius: 0px 20px 20px 0px;
}

.text-wrapper textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  resize: vertical;
}

.control-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 280px) and (max-width: 650px) {
  h4 {
    font-size: 15px;
  }

  .input-date,
  input[type="file"]::file-selector-button,
  .genre-edit-div input,
  .genre-wrapper select,
  .title-wrapper input,
  .text-wrapper textarea {
    padding: 8px 14px;
    font-size: 15px;
  }

  .genre-wrapper select {
    border-radius: 20px 0 0 20px;
    padding: 8px 10px;
    height: 35px;
    width: 85px;
  }

  .title-wrapper input {
    border-radius: 0px 20px 20px 0px;
    width: 140px;
  }

  .text-wrapper textarea {
    padding: 10px 20px;
  }
}
