.menu {
  margin: 20px 0px;
  display: flex;
}

.menu .right-item {
  flex-grow: 1; /*left-items 제외한 전체 영역의 넓이를 갖게 됨*/
}

.menu .right-item button {
  width: 100%;
}

.control-menu {
  width: 90%;
  border: none;
  border-radius: 20px;
  background-color: #b18c79;
  color: white;

  padding: 10px 20px;

  cursor: pointer;
  font-family: "Gothic A1", sans-serif;
  font-size: 16px;
}
