.Button {
  cursor: pointer;
  border: none;
  border-radius: 20px;

  padding: 10px 20px;

  font-size: 16px;
  color: #563a3d;
  background-color: transparent;

  white-space: nowrap;
  /* font-family: "Noto Serif KR"; */
  font-family: "Gothic A1", sans-serif;
}

.Button.light-brown {
  background-color: #b18c79;
  color: white;
}

.Button.dark-brown {
  background-color: #764845;
  color: white;
}

.Button.little {
  color: white;
  padding: 5px 10px;

  background-color: #764845;
  font-size: 13px;
}

.Button.little.purple {
  background-color: transparent;
  color: #975ab7;
  font-weight: bold;
  font-size: 22px;
}

.Button.little.red {
  color: #ec5e5e;
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
}
