.Button {
  cursor: pointer;
  border: none;
  border-radius: 20px;

  padding: 10px 20px;

  font-size: 16px;
  color: #563a3d;
  background-color: transparent;

  white-space: nowrap;
  /* font-family: "Noto Serif KR"; */
  font-family: "Gothic A1", sans-serif;
}

.Button.negative {
  background-color: #b18c79;
  color: white;
}

.Button.positive {
  background-color: #764845;
  color: white;
}

.Button.plus {
  background-color: #975ab7;
  color: white;
  padding: 8px 13px;

  font-size: 13px;
}
